<div>
  <h1 class="font-bold text-4xl">MAKE A REQUEST</h1><br>
  <%= form_tag requests_path, method: :post do %>
        <div>
            <%= text_field_tag :character %>
        </div>
        <br>
        <div>
            <%= submit_tag "submit", class: "custom-link" %> | <input type="submit" value="cancel" class = "custom-link">
        </div>
    <% end %>
</div>
